{% extends "base.html" %} {% block title %}Revontulet Flamehouse — Where Aurora
Meets Culinary Art{% endblock %} {% block content %}
<section class="hero">
    <div class="feature">
        <img
            src="{{ url_for('static', filename='assets/hero-image.jpeg') }}"
            alt="burger image"
        />
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et eos
            saepe iusto laudantium voluptatem laboriosam nulla, dolore est
            quidem eligendi consequatur veritatis id inventore magnam nemo
            omnis? Debitis, accusamus explicabo.
        </p>
    </div>
    <div class="hero-fade" aria-hidden="true"></div>
</section>
{% endblock %}
